body{
  margin:0;
  font-family:Arial;
  background:#111;
  color:white;
}

.container{
  padding:20px;
  max-width:800px;
  margin:auto;
}

h1{
  text-align:center;
}

.filtros{
  display:flex;
  gap:10px;
  margin-bottom:20px;
  flex-wrap:wrap;
}

input, select, button{
  padding:10px;
  border:none;
  border-radius:6px;
}

button{
  background:red;
  color:white;
  cursor:pointer;
}

.lista{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.card-agendamento{
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
}

.card-agendamento h3{
  margin:0;
}

.card-agendamento button{
  margin-top:10px;
  background:#ff4444;
}

.acoes{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
}

.card-agendamento{
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
  border-left:5px solid red;
}

.card-agendamento.finalizado{
  border-left:5px solid #00ff88;
  opacity:0.6;
}

.acoes-card{
  margin-top:10px;
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.acoes-card button{
  flex:1;
}