body{
background:black;
color:white;
font-family:Arial;
text-align:center;
}

h1{
color:red;
}

select,input{
padding:10px;
margin:10px;
}

button{
padding:10px;
background:red;
color:white;
border:none;
cursor:pointer;
}

li{
margin:10px;
padding:10px;
background:#111;
}
/* RESPONSIVO CELULAR */

@media (max-width: 768px){

h1{
font-size:28px;
}

button{
width:90%;
font-size:18px;
padding:15px;
margin:10px;
}

input, select{
width:90%;
font-size:16px;
padding:12px;
}

ul{
padding:0;
}

li{
font-size:16px;
margin:8px;
}

}