/* RESET */
body{
  margin:0;
  padding:0;
  height:100vh;
  font-family:Arial;
  background:black;

  background-image:url("../img/yagor.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

/* OVERLAY */
.overlay{
  height:100vh;
  background:rgba(0,0,0,0.7);

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* LOGO */
.logo{
  width:300px;
  max-width:80vw;
  margin-bottom:40px;

  animation:girar3d 4s infinite linear;
  transform-style:preserve-3d;
}

/* ANIMAÇÃO 3D */
@keyframes girar3d{
  0%{transform:rotateY(0deg);}
  100%{transform:rotateY(360deg);}
}

/* BOTÕES */
button{
  padding:15px 40px;
  font-size:20px;
  border:none;
  background:red;
  color:white;
  cursor:pointer;
  border-radius:8px;
  transition:0.3s;
}

button:hover{
  transform:scale(1.1);
  background:#ff2b2b;
}

/* PAGINA BARBEIROS */
.pagina-barbeiros{
  background:black;
  color:white;
  text-align:center;
  padding-top:50px;

  background-image:url("../img/yagor-dog.jpg");
  background-size:cover;
  background-position:center;
}

/* TITULO */
.titulo{
  font-size:40px;
  margin-bottom:40px;
  color:white;
}

/* CARDS */
.barbeiros{
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

.card{
  background:#111;
  padding:20px;
  border-radius:10px;
  width:220px;
}

.card img{
  width:100%;
  border-radius:10px;
}

.card h2{
  margin-top:10px;
}

.card p{
  color:#ccc;
}

.card button{
  margin-top:15px;
  padding:10px 25px;
}

/* FORMULÁRIO */
.formulario{
  display:flex;
  flex-direction:column;
  gap:15px;
  width:250px;
}

.formulario input,
.formulario select{
  padding:12px;
  border:none;
  border-radius:6px;
  font-size:16px;
}

.formulario button{
  padding:12px;
  font-size:18px;
}

/* 📱 RESPONSIVO */
@media (max-width: 768px){

  .logo{
    width:180px;
  }

  .titulo{
    font-size:28px;
  }

  button{
    width:90%;
    font-size:18px;
    padding:15px;
    margin:10px;
  }

  .barbeiros{
    flex-direction:column;
    align-items:center;
  }

  .card{
    width:80%;
  }

}